In [1]:
import pandas as pd 
import numpy as np

In [2]:
arr = np.random.randint(0,10,(5,3))

In [3]:
df = pd.DataFrame(arr)

In [4]:
df

   0  1  2
0  0  0  9
1  7  7  6
2  6  7  2
3  8  0  3
4  1  9  3

In [5]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
df.values

array([[0, 0, 9],
       [7, 7, 6],
       [6, 7, 2],
       [8, 0, 3],
       [1, 9, 3]])

In [7]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.index = ['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3']

In [9]:
df.loc['r3','c2']

7

In [10]:
df.iloc[2,1]

7

In [11]:
df.iloc[2:4,1:3]

    c2  c3
r3   7   2
r4   0   3

In [12]:

type(df.iloc[0])

pandas.core.series.Series

In [13]:
df.iloc[:,0]

r1    0
r2    7
r3    6
r4    8
r5    1
Name: c1, dtype: int64

In [14]:
df.shape

(5, 3)

In [15]:
df.T

    r1  r2  r3  r4  r5
c1   0   7   6   8   1
c2   0   7   7   0   9
c3   9   6   2   3   3

Function

In [16]:
def create_df(nRows,nCols,maxRand = 10):
    arr = np.random.randint(0,maxRand,(nRows,nCols))
    df = pd.DataFrame(arr)
    df.index = ['R'+ str(x) for x in np.arange(1,nRows+1)]
    df.columns = ['C'+ str(x) for x in np.arange(1,nCols+1)]
    return df

In [17]:
create_df(2,5)

    C1  C2  C3  C4  C5
R1   5   9   1   7   0
R2   7   0   1   7   8

Creating DataFrame using series

In [18]:
mass = pd.Series([0.33,4.87,5.97,0.642,1898,568,102,0.0146],
                 index = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])
diameter = pd.Series([4879,12104,12756,6792,142984,120536,51118,49528],
                 index = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])

In [19]:
df = pd.DataFrame({'mass': mass, 'diameter': diameter}) #overloaded function

In [20]:
df

              mass  diameter
Mercury     0.3300      4879
Venus       4.8700     12104
Earth       5.9700     12756
Mars        0.6420      6792
Jupiter  1898.0000    142984
Saturn    568.0000    120536
Uranus    102.0000     51118
Neptune     0.0146     49528

In [21]:
df['mass']['Earth']

5.97

In [22]:
df.mass.Earth

5.97

DataFrame Population

In [23]:
df['pop'] = [11,22,33,4,11,22,33,4]

In [24]:
df['pop']['Earth'] = 19000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df

              mass  diameter    pop
Mercury     0.3300      4879     11
Venus       4.8700     12104     22
Earth       5.9700     12756  19000
Mars        0.6420      6792      4
Jupiter  1898.0000    142984     11
Saturn    568.0000    120536     22
Uranus    102.0000     51118     33
Neptune     0.0146     49528      4

In [26]:
df['mass'] is df.mass

True

In [27]:
df['pop'] is df.pop #We can not use pop, hence the pop is a  function available in pandas

False

In [28]:
df.loc['Earth']

mass            5.97
diameter    12756.00
pop         19000.00
Name: Earth, dtype: float64

In [29]:
df.loc[:,'mass']

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus      102.0000
Neptune       0.0146
Name: mass, dtype: float64

Function to add a new row as mean and compute the mean of the diamter and mass.

In [30]:
def create_mean_row(df):
    df.loc['Col_mean'] = [np.mean(df[col]) for col in df.columns]
    return df

In [31]:
df

              mass  diameter    pop
Mercury     0.3300      4879     11
Venus       4.8700     12104     22
Earth       5.9700     12756  19000
Mars        0.6420      6792      4
Jupiter  1898.0000    142984     11
Saturn    568.0000    120536     22
Uranus    102.0000     51118     33
Neptune     0.0146     49528      4

In [32]:
df.loc['Col_mean'] = 0 # Adding a new row

In [33]:
df

               mass  diameter    pop
Mercury      0.3300      4879     11
Venus        4.8700     12104     22
Earth        5.9700     12756  19000
Mars         0.6420      6792      4
Jupiter   1898.0000    142984     11
Saturn     568.0000    120536     22
Uranus     102.0000     51118     33
Neptune      0.0146     49528      4
Col_mean     0.0000         0      0

In [34]:
np.mean(df['mass'])

286.6474

In [35]:
df.drop('Col_mean') # Delete a row

              mass  diameter    pop
Mercury     0.3300      4879     11
Venus       4.8700     12104     22
Earth       5.9700     12756  19000
Mars        0.6420      6792      4
Jupiter  1898.0000    142984     11
Saturn    568.0000    120536     22
Uranus    102.0000     51118     33
Neptune     0.0146     49528      4

In [36]:
 df.drop('pop', axis = 1, inplace=True) # Delete a column, However none of the operations are being saved hence we need to give Inplace =True

In [37]:
df.drop('Col_mean', inplace= True)

In [38]:
df

              mass  diameter
Mercury     0.3300      4879
Venus       4.8700     12104
Earth       5.9700     12756
Mars        0.6420      6792
Jupiter  1898.0000    142984
Saturn    568.0000    120536
Uranus    102.0000     51118
Neptune     0.0146     49528

In [39]:
np.mean(df['mass'])

322.478325

In [40]:
df.loc['Col_mean'] = [np.mean(df['mass']),np.mean(df['diameter'])]

In [41]:
df

                 mass    diameter
Mercury      0.330000    4879.000
Venus        4.870000   12104.000
Earth        5.970000   12756.000
Mars         0.642000    6792.000
Jupiter   1898.000000  142984.000
Saturn     568.000000  120536.000
Uranus     102.000000   51118.000
Neptune      0.014600   49528.000
Col_mean   322.478325   50087.125

In [42]:
create_mean_row(df)

                 mass    diameter
Mercury      0.330000    4879.000
Venus        4.870000   12104.000
Earth        5.970000   12756.000
Mars         0.642000    6792.000
Jupiter   1898.000000  142984.000
Saturn     568.000000  120536.000
Uranus     102.000000   51118.000
Neptune      0.014600   49528.000
Col_mean   322.478325   50087.125

In [43]:
def create_mean_row(df):
    #df.loc['Col_mean'] = [np.mean(df[col]) for col in df.columns]
    df.loc['Col_mean'] = df.mean()
    return df

In [44]:
create_mean_row(df)

                 mass    diameter
Mercury      0.330000    4879.000
Venus        4.870000   12104.000
Earth        5.970000   12756.000
Mars         0.642000    6792.000
Jupiter   1898.000000  142984.000
Saturn     568.000000  120536.000
Uranus     102.000000   51118.000
Neptune      0.014600   49528.000
Col_mean   322.478325   50087.125

In [45]:
df = create_df(5,3)

In [46]:
df.mean() #Computes the mean by columns wise and return the series object

C1    4.0
C2    4.0
C3    6.0
dtype: float64

In [47]:
df.mean(axis = 1) # Row wise mean

R1    1.666667
R2    4.666667
R3    4.000000
R4    5.666667
R5    7.333333
dtype: float64

In [48]:
df['Row_mean'] = df.mean(axis=1) # Adding row_mean as a column

In [49]:
df

    C1  C2  C3  Row_mean
R1   2   0   3  1.666667
R2   0   5   9  4.666667
R3   8   1   3  4.000000
R4   1   9   7  5.666667
R5   9   5   8  7.333333

In [50]:
df.loc['Col_Mean'] = df.mean()

In [51]:
df.drop(['Col_mean'])

KeyError: ignored

In [52]:
df.describe() #Whats the data look like and also applies all the statistical methods to the data frame

             C1        C2        C3  Row_mean
count  6.000000  6.000000  6.000000  6.000000
mean   4.000000  4.000000  6.000000  4.666667
std    3.741657  3.224903  2.529822  1.873796
min    0.000000  0.000000  3.000000  1.666667
25%    1.250000  1.750000  3.750000  4.166667
50%    3.000000  4.500000  6.500000  4.666667
75%    7.000000  5.000000  7.750000  5.416667
max    9.000000  9.000000  9.000000  7.333333

In [53]:
mass = pd.Series([0.33,4.87,5.97,0.642,1898,568,102,0.0146],
                 index = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])
dim = pd.Series([4879,12104,12756,6792,142984,120536,51118,49528],
                 index = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])

In [54]:
planets = pd.DataFrame({'mass': mass, 'dim': dim})

In [55]:
planets.describe()

              mass            dim
count     8.000000       8.000000
mean    322.478325   50087.125000
std     665.856454   53916.366175
min       0.014600    4879.000000
25%       0.564000   10776.000000
50%       5.420000   31142.000000
75%     218.500000   68472.500000
max    1898.000000  142984.000000

In [86]:
import seaborn as sn

In [87]:
df = sn.load_dataset('planets')

In [58]:
df.info() # helps to identify null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [59]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
 df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

Go through each row of the dataframe and delete it if any of the column is null.

In [ ]:
for r in df.index:                        # Looping pattern
    for c in df.columns:
        if pd.isnull(df.loc[r,c]):
            df.drop(r,inplace=True)
            break

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
for i,r in df.iterrows():
    print(i)
    print(r)
    break

0
method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
Name: 0, dtype: object

In [ ]:
for i,r in df.iterrows():  # Shorter code
    if pd.isnull(r).any():
        df.drop(i,inplace=True)

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
df.dropna(inplace=True) # Single line approach

In [ ]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

##Qurreying 
Filter data based on the value exists in dataset.

Q.1 Filter and show only those rows which have planets that are found in 2010s and method is 'Radial Velocity' and 'Transit' and the distance is large.(>75%tile)

In [ ]:
df_ = df.copy()

df_

              method  number  orbital_period    mass  distance  year
0    Radial Velocity       1       269.30000   7.100     77.40  2006
1    Radial Velocity       1       874.77400   2.210     56.95  2008
2    Radial Velocity       1       763.00000   2.600     19.84  2011
3    Radial Velocity       1       326.03000  19.400    110.62  2007
4    Radial Velocity       1       516.22000  10.500    119.47  2009
..               ...     ...             ...     ...       ...   ...
640  Radial Velocity       1       111.70000   2.100     14.90  2009
641  Radial Velocity       1         5.05050   1.068     44.46  2013
642  Radial Velocity       1       311.28800   1.940     17.24  1999
649          Transit       1         2.70339   1.470    178.00  2013
784  Radial Velocity       3       580.00000   0.947    135.00  2012

[498 rows x 6 columns]

In [ ]:
per_75 = df.distance.quantile(0.75)
for i,r in df_.iterrows():
    if r['year'] < 2010:
        df_.drop(i,inplace=True)
        continue
    if r['method'] != 'Radial Velocity' and r['method'] != 'Transit':
        df_.drop(i,inplace=True)
        continue
    if r['distance'] < per_75:
        df_.drop(i,inplace=True)

In [ ]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

In [ ]:
df_.head()

             method  number  orbital_period   mass  distance  year
9   Radial Velocity       2          452.80   1.99     74.79  2010
10  Radial Velocity       2          883.00   0.86     74.79  2010
58  Radial Velocity       1          277.02   1.70     80.64  2013
63  Radial Velocity       1          305.50  20.60     92.51  2013
84  Radial Velocity       1          137.48   1.11    175.44  2013

In [ ]:
per_75

59.3325

In [ ]:
df_ = df.copy()
df_ [
     (df_['year']>= 2010) &
     ((df_['method']) == 'Radial Velocity' ) | (df_['method'] == 'Transit') & 
     (df_['distance'] > per_75)
     ]

              method  number  orbital_period   mass  distance  year
2    Radial Velocity       1       763.00000  2.600     19.84  2011
9    Radial Velocity       2       452.80000  1.990     74.79  2010
10   Radial Velocity       2       883.00000  0.860     74.79  2010
28   Radial Velocity       1       181.40000  3.200     45.52  2013
45   Radial Velocity       1       380.80000  1.800     20.21  2010
..               ...     ...             ...    ...       ...   ...
634  Radial Velocity       3       431.70000  0.527     25.87  2011
636  Radial Velocity       1       124.60000  9.180    149.25  2013
641  Radial Velocity       1         5.05050  1.068     44.46  2013
649          Transit       1         2.70339  1.470    178.00  2013
784  Radial Velocity       3       580.00000  0.947    135.00  2012

[185 rows x 6 columns]

In [ ]:
df_.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

##Manipulating tasks
Modify the method column to have only the abberiviation of each method

In [73]:

df.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [74]:
s = 'Orbital Brightness Modulatio'
s.split( ' ')

['Orbital', 'Brightness', 'Modulatio']

In [75]:
[x[0] for  x  in s.split( ' ')]

['O', 'B', 'M']

In [76]:
''.join([x[0] for  x  in s.split( ' ')])  # Joining the strings

'OBM'

In [77]:
short_names = {}
for s in df.method.unique():
    short_names[s] = ''.join([x[0] for  x  in s.split( ' ')])

In [78]:
short_names

{'Astrometry': 'A',
 'Eclipse Timing Variations': 'ETV',
 'Imaging': 'I',
 'Microlensing': 'M',
 'Orbital Brightness Modulation': 'OBM',
 'Pulsar Timing': 'PT',
 'Pulsation Timing Variations': 'PTV',
 'Radial Velocity': 'RV',
 'Transit': 'T',
 'Transit Timing Variations': 'TTV'}

In [79]:
for i,r in df.iterrows():
    df.loc[i, 'short_names'] = short_names.get(r['method'], r['method'])

In [80]:
df.head()

            method  number  orbital_period  ...  year  short_name  short_names
0  Radial Velocity       1         269.300  ...  2006          RV           RV
1  Radial Velocity       1         874.774  ...  2008          RV           RV
2  Radial Velocity       1         763.000  ...  2011          RV           RV
3  Radial Velocity       1         326.030  ...  2007          RV           RV
4  Radial Velocity       1         516.220  ...  2009          RV           RV

[5 rows x 8 columns]

In [81]:
df = sn.load_dataset('planets')

In [82]:
def shorten_method(s):
    return short_names.get(s,s)

In [83]:
df['short_name'] = df['method'].apply(shorten_method)

In [84]:
df.head()

            method  number  orbital_period   mass  distance  year short_name
0  Radial Velocity       1         269.300   7.10     77.40  2006         RV
1  Radial Velocity       1         874.774   2.21     56.95  2008         RV
2  Radial Velocity       1         763.000   2.60     19.84  2011         RV
3  Radial Velocity       1         326.030  19.40    110.62  2007         RV
4  Radial Velocity       1         516.220  10.50    119.47  2009         RV

Count the number of planets discovered for each method type

1. Split the dataframe into smaller chunks ( in this case they should have the same method name)
2. Apply some function in each smaller chunk (In this case it is the count function)
3. Aggregate the results from each chunk together.

In [98]:
d = {}
for m in df.method.unique():                      
    d[m] = df[df.method == m]['method'].count()  # Subsetting on the basis of method that will take sinle method count
d

{'Astrometry': 2,
 'Eclipse Timing Variations': 9,
 'Imaging': 38,
 'Microlensing': 23,
 'Orbital Brightness Modulation': 3,
 'Pulsar Timing': 5,
 'Pulsation Timing Variations': 1,
 'Radial Velocity': 553,
 'Transit': 397,
 'Transit Timing Variations': 4}

In [100]:
df.groupby('method')['method'].count() #single line of code

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

Find out what fraction of planets have been found in the last decade (ie. 2010) across each method.

1. Filter the data for given condition (In this case planet found in last decade)
2. Split (In this case across method)
3. Apply(In this case just count)
4. Aggregate (To represent the fonal count)

In [108]:
s_2010 = df[df.year >= 2010].groupby('method')['method'].count()

In [109]:
s_alltime = df.groupby('method')['method'].count()

In [110]:
s_2010/s_alltime

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64